/* Default body styles */

body {
  margin: auto;
  padding: 0;
  font-family: 'Josefin+Sans', sans-serif;
  color: #222;
  background: #f7f5f0;
}

/*Search box styles*/

.search {
  width: 32.5%;
  margin: 20px auto;
  height: 15px;
}

.inputText {
  border: none;
  line-height: 30px;
  width: 75%;
}

/*Gallery styles - 4-column layout*/

.gallery {
  width: 64%;
	margin: 20px auto;
	overflow: hidden;
}

.gallery img {
  max-width: 100%;  
  float: left;
  width: 19%;
	margin: 4% 3% 0 3%;	
}

/*Setting search caption <span> text not to display*/

span {
  display: none;
}

/*Lightbox display customizations to match project sample image*/

.lightbox .lb-image {
  border: none;
}

.lb-nav a.lb-next {
  position: absolute;
  top: -2%;
  right: -15%;
  opacity: 1.0;  
}

.lb-nav a.lb-prev {
  position: absolute;
  top: -2%;
  left: -15%;
  opacity: 1.0;  
}

.lb-data .lb-close {
  display: none;
}

.lb-data .lb-caption {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.6em;
  display: block;
  width: 600px;
  text-align: left;
  margin: 70px 175px;
}